<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Permanent+Marker|Poppins" rel="stylesheet">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../vendors/materialize/css/materialize.css">
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/chat.css">
  <title>Perfil</title>
</head>

<body class="light-green lighten-5">
  <header>
    <div class="navbar-fixed">
      <nav class="nav-wrapper">
        <div class="cyan darken-1 z-depth-5">
          <div class="container">
            <div class="col s12">
              <a href="#" class="brand-logo font">Memorabilia</a>
              <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
              <ul class="right hide-on-med-and-down">
                <li>
                  <a data-id = "home"><i class="fa fa-home" aria-hidden="true"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-bell" aria-hidden="true"></i></a>
                </li>
                <li>
                  <a data-id = "sign-out"><i class="fa fa-sign-out" aria-hidden="true" data-id = "sign-out"></i>Cerrar Sesión</a>
                </li>
              </ul>
              <ul class="side-nav" id="mobile-demo">
                <li>
                  <a data-id = "home"><i class="fa fa-home" aria-hidden="true"></i>Inicio</a>
                </li>
                <li>
                  <a><i class="fa fa-bell" aria-hidden="true"></i>Notificaciones</a>
                </li>
                <li>
                  <a data-id = "sign-out"><i class="fa fa-sign-out" aria-hidden="true" data-id = "sign-out"></i>Cerrar Sesión</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <main>
    <section class="container">
      <div class="profile z-depth-4">
        <div class="profile-div">
          <div class="profile-data">
            <div class="row">
              <div class="col s6 user-photo" id="user-photo"></div>
              <div class="col s12 m7 l8">
                <div class="center-align white-color" id="user-name-profile"></div>
              </div>
              <div id="info-user" class="col s12 m7 l8">
                <p class="col s6 white-color center-align"><span class="followers">345</span>Seguidores</p>
                <p class="col s6 white-color center-align"><span class="followers">456</span>Siguiendo</p>
                <div class="col s12 box-description">
                  <p class="white-color">Inserte algo sobre usted</p>
                </div>
                <a href="#" class="col s6 offset-s6 white-color center-align"><i class="fa fa-cog" aria-hidden="true"></i>Editar mi perfil</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="container">
      <div class="row">
        <div class="col s12">
          <ul class="tabs">
            <li class="tab col s4 center-align"><a href="#test1">Mis Colecciones</a></li>
            <li class="tab col s4 center-align"><a href="#test2">Las top</a></li>
            <li class="tab col s4 center-align"><a href="#test3">Mis Fans</a></li>
          </ul>
        </div>
        <div id="test1">
          <div class="">
            <div class="row">
              <div class="col s12 m4">
                <div class="card">
                  <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator responsive-img" src="../assets/images/star-wars-legos.jpg">
                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">STAR WARS<i class="material-icons right">more_vert</i></span>
                    <p><a href="#">This is a link</a></p>
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">STAR WARS<i class="material-icons right">close</i></span>
                    <p>Amamos STAR WARS.</p>
                  </div>
                </div>
              </div>
              <div class="col s12 m4">
                <div class="card">
                  <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator responsive-img" src="../assets/images/naruto-collection.jpg">
                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">NARUTO-COLLECTION<i class="material-icons right">more_vert</i></span>
                    <p><a href="#">This is a link</a></p>
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">NARUTO COLLECTION<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                  </div>
                </div>
              </div>
              <div class="col s12 m4">
                <div class="card">
                  <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="../assets/images/ball-collection.JPG">
                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">FIFA-2018<i class="material-icons right">more_vert</i></span>
                    <p><a href="#">This is a link</a></p>
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">FIFA-2018<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                  </div>
                </div>
              </div>
              <div class="col s12 m4">
                <div class="card">
                  <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator responsive-img" src="../assets/images/barbie-duo.jpg">
                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">WE LOVE BARBIE<i class="material-icons right">more_vert</i></span>
                    <p><a href="#">This is a link</a></p>
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">WE LOVE BARBIE<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="test2">
          <div class="">
            <div class="row">
              <div class="col s12 m4">
                <div class="card">
                  <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator responsive-img" src="../assets/images/group1.jpg">
                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">🎆Traveling 🎶<i class="material-icons right">more_vert</i></span>
                    <p><a href="#">This is a link</a></p>
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                  </div>
                </div>
              </div>
              <div class="col s12 m4">
                <div class="card">
                  <div class="card-image">
                    <img class="activator responsive-img" src="../assets/images/group3.jpg">
                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Super Family😎<i class="material-icons right">more_vert</i></span>
                    <p><a href="#">This is a link</a></p>
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                  </div>
                </div>
              </div>
              <div class="col s12 m4">
                <div class="card">
                  <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="../assets/images/group4.jpg">
                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">CoMiCs<i class="material-icons right">more_vert</i></span>
                    <p><a href="#">This is a link</a></p>
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                  </div>
                </div>
              </div>
              <div class="col s12 m4">
                <div class="card">
                  <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator responsive-img" src="../assets/images/group2.jpg">
                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">COsPlay<i class="material-icons right">more_vert</i></span>
                    <p><a href="#">This is a link</a></p>
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="test3">
          <div class="">
            <div class="row">
              <div class="col s12 m4">
                <p>User</p>
                <p>Descripcion</p>
              </div>
              <div class="col s12 m4">
                <p>User</p>
                <p>Descripcion</p>
              </div>
              <div class="col s12 m4">
                <p>User</p>
                <p>Descripcion</p>
              </div>
              <div class="col s12 m4">
                <p>User</p>
                <p>Descripcion</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--<div class="fixed-action-btn horizontal">
          <div class="cht cyan lighten-2">
            <div class="cht_header">
              <span id="cht_head">Live Chat</span>
              <div class="cht_loader"></div>
              <div class="cht_option"><i class="zmdi zmdi-more-vert"></i>
                <div class="row" id="content-chat">
                  <div class="col s12">
                    <div id="content-msg">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="cht_login">
              <input id="cht_log_email" placeholder="Escribe un mensaje">
              <a class="btn-large cyan darken-1" href="#" id="btn-send"><i class="material-icons">send</i></a>
            </div>
          </div>
          <a id="prime" class="fab cyan lighten-2"><i class="large material-icons">mode_edit</i></a>
        </div>-->
  </main>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="../vendors/materialize/js/materialize.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <script type="text/javascript" src="../js/data.js"></script>
  <script type="text/javascript" src="../js/app.js"></script>
</body>

</html>
