.fab {
  display: block;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  text-align: center;
  color: #263238;
  margin: 25px auto 0;
  cursor: pointer;
  transition: all .1s ease-out;
  position: relative;
  z-index: 998;
  overflow: hidden;
}

.fab>i {
  font-size: 2em;
  line-height: 55px;
  transition: all .2s ease-in-out;
}

.fab:not(:last-child).is-visible {
  width: 40px;
  height: 40px;
  margin: 15px auto 10;
  opacity: 1;
  visibility: visible;
}

/*chtbox*/

.cht {
  position: fixed;
  right: 85px;
  bottom: 0;
  font-weight: 500;
  font-smoothing: antialiased;
  opacity: 0;
  border-radius: 3px;
  transition: all .2s ease-in-out;
}

.cht_header {
  margin: 10px;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}

.cht_header .span {
  float: right;
}

.cht_loader {
  display: none;
  float: right;
  background: rgba(0, 0, 0, 0);
  height: 8px;
  width: 8px;
  margin: 5px 10px 0 0;
  border-radius: 50%;
  border: solid 2px #263238;
}

.cht.is-visible {
  opacity: 1;
  animation: zoomIn .2s cubic-bezier(.42, 0, .58, 1);
}

.cht_option {
  list-style: none;
  position: relative;
  width: 100%;
  height: 100%;
}

.cht_login {
  width: 100%;
  height: 150px;
  display: inline-block;
  text-align: center;
}

.cht_login a {
  width: 10%;
  text-align: center;
  border: none;
}

.cht_login a>i {
  font-size: 1.6em;
  line-height: 35px;
}

.cht_login input {
  position: relative;
  margin: 5px 0 5px 0;
  width: 90%;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: #4b4b4b;
  font-smoothing: antialiased;
  border: none;
  outline: none;
  background: #eceff1;
  display: inline-block;
  height: 30px;
  resize: none;
  padding: 5px;
  border-radius: 3px;
}

div#content-chat {
  font-size: 16px;
}

@media only screen and (min-width: 300px) {
  .cht {
    width: 200px;
  }
}

@media only screen and (min-width: 480px) {
  .cht {
    width: 300px;
  }
  .cht_field {
    width: 65%;
  }
}

@media only screen and (min-width: 768px) {
  .cht {
    width: 300px;
  }
  .cht_field {
    width: 65%;
  }
}

@media only screen and (min-width: 1024px) {
  .cht {
    width: 400px;
  }
  .cht_field {
    width: 65%;
  }
}
