:root {
  --color1: #64ffda; /*aquamarine*/
  --color2: #44cbce; /*mediumturquise*/
}

.login-center {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.cont-height {
  display: flex;
  align-items: stretch;
}

.user {
   height: 90vh;
   border-top: 3px solid var(--color1);
   border-right: 3px solid var(--color1);
   border-bottom: 3px solid var(--color1);
}

/* SLIDESHOW */

#slideshow {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 90vh;
  padding: 10px;
}

#slideshow h2 {
  margin: .0em auto .0em auto;
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  color: #fff;
  line-height: .5em;
}

#slideshow h3 {
  color: #fff;
  font-size: 2.3em;
}

#slideshow div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1em;
  background-repeat: no-repeat;
  background-size: cover;
}

#slideshow .one {
  background-image: url("../assets/images/slide/dots.png");
  background-repeat: no-repeat;
  background-position: 0% 50%;
}

#slideshow .two {
  background-image: url("../assets/images/slide/gears.png");
  background-repeat: no-repeat;
  background-position: 0% 50%;
}

#slideshow .three {
  background-image: url("../assets/images/slide/splat.png");
  background-repeat: no-repeat;
  background-position: 0% 5%;
}

@media only screen and (min-width: 601px) {
  #slideshow .one,#slideshow .two,#slideshow .three {
    top: 30%;
  }
}

@media only screen and (max-width: 600px) {
  #slideshow {
    height: 20vh;
  }

  #slideshow .one h3, #slideshow .two h3, #slideshow .three h3 {
    display: none;
  }

  .user {
    height:60vh;
    border-top: none;
    border-left: 3px solid var(--color1);
    border-right: 3px solid var(--color1);
    border-bottom: 3px solid var(--color1);   
  }
}

/* CSS */

.element {
  opacity: 0.0;
  transform: scale(0.95) translate3d(0, 100%, 0);
  transition: transform 400ms ease, opacity 400ms ease;
}

.element.active {
  opacity: 1.0;
  transform: scale(1.0) translate3d(0, 0, 0);
}

.element.inactive {
  opacity: 0.0;
  transform: scale(1) translate3d(0, 0, 0);
}

.text-color {
  color: var(--color1);
}

.b-fb {
  background-color: #3b5999;
}

.b-g {
  background-color: #cc3019;
}

.b-fb:hover {
  background-color: #3b5999;
}

.b-g:hover {
  background-color: #cc3019;
}
