:root{
  --color1 : #4dd0e1; /*mediumturquoise*/
  --color2 : #fff; /*white*/
}

body {
  font-family: 'Poppins', sans-serif;

}

.white-color {
  color: var(--color2);
}

.turq {
  color: var(--color1);
}

.font {
  font-family: 'Permanent Marker', cursive;
  font-size: 5em;
}

.login {
  height: 100vh;
}

.section {
  padding: 5px;
}

.profile {
  margin-bottom: 10px;
}

.opacity-5 {
  opacity: 0.5;
}

.profile {
  border-radius: 10px;
  background-color: rgba(100, 255, 218, 0.5);
  padding: 8px;
}

.profile-div {
  background-color: rgba(0, 172, 193, 0.6);
}

.profile-data {
  padding: 15px;
}

#avatar img {
  width: 90%;
  margin-right: 5%;
  margin-left: 5%;
}

main {
  margin-top: 20px;
}

.chat {
  border-radius: 10px;
  padding: 8px;
}

.chat-box {
  background-color: var(--color2);
  padding: 8px;
}

.bottom-0 {
  margin-bottom: 0px;
}

.collection .collection-item.avatar {
  min-height: 50px;
  padding-left: 72px;
  position: relative;
}

.section-news {
  border-radius: 10px;
  padding: 8px;
}

.color-box {
  color: var(--color2);
}

.box-description {
  border: 1px solid var(--color2);
  margin: 10px 0;
  border-radius: 10px;
  display: none;
}

.post {
  border: 1px solid var(--color1);
  margin: 5px 0;
  border-radius: 5px;
}

#contact.post {
  padding: 10px 0!important;
}

ul.right.hide-on-med-and-down {
  height: 64px;
}

ul li a {
  height: 64px;
}

div img.responsive-img.circle.user {
  width: 100%;
}

p.user-name {
  font-size: 30px;
  margin: 0;
}

div#user-photo, div#other-user {
  margin-left: 25%;
}

.followers {
  display: block;
}

textarea#textarea {
  padding: 10px;
}

/*settings*/
  /* label color */
   .input-field label {
     color: #10aba7;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid var(--color1);
     box-shadow: 0 1px 0 0 var(--color1);
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #10aba7;
     box-shadow: 0 1px 0 0 #10aba7;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: var(--color1);
   }

@media only screen and (min-width: 601px) {
  div.user-photo#user-photo, div.user-photo#other-user{
    margin-left: 0;
    width: 40%;
  }

  div#user-photo {
    margin: 0;
  }

  p.user-name {
    font-size: 20px;
    margin: 0;
  }

  p.white-color.center-align {
    margin: 2px 0;
  }
}

@media only screen and (min-width: 601px) {
  p.white-color.center-align {
    margin: 2px 0;
  }

  textarea#textarea {
    padding: 10px;
    height: 4rem;
  }
}


@media only screen and (min-width: 993px) {
  div.user-photo#user-photo, div.user-photo#other-user {
    width: 30%;
  }

  main {
    margin-top: 40px;
  }
}
